body{
    margin: 0;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper{
    display: grid;
    grid-template-columns: 30% 70%;
    font-size: 23px;
    line-height: 1.5;
}

.wrapper-skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 25px;
    line-height: 2;
    text-align: center;
    grid-auto-rows: 100px;
    padding-top: 3%;
}

.wrapper img{
    padding-left: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#main-header{
    text-align: center;
    padding-top: 130px;
}

#main-header h1{
    color: white;
    font-size: 80px;
}

#main-header h2{
    color: yellow;
    font-size: 30px;
}

#main{
    background-color: white;
    margin-top: 230px;
    padding-bottom: 400px;
}

#main h1{
    text-align: center;
    font-size: 60px;
    background-color: rgb(202, 202, 202);
}

#intro-text{
    padding-top: 7%;
}

