body{
    margin: 0;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#main-header{
    text-align: center;
    padding-top: 130px;
}

#main-header h1{
    color: white;
    font-size: 80px;
}

#main-header h2{
    color: yellow;
    font-size: 30px;
}

#intro{
    background-color: white;
    margin-top: 230px;
}

#intro h1{
    text-align: center;
    font-size: 60px;
}

#intro p{
    
}